.form-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.add-card{
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.199);
    padding: 30px;

}